body {
    background-color: #f3f0f0;
}

.apply {
    padding: 5% 15%;
}

.title-apply {
    padding-left: 25px;
    font-size: 30px;
    font-weight: bold;
    border-left: 8px solid #000;
}

.border {
    margin-top: 40px;
}

.border__list {
    list-style-type: none;
    border-bottom: 1px solid #000;
    display: flex;
}

.border__list li {
    padding: 20px 80px;
}

ul li a {
    color: #000;
}

a:active {
    font-weight: bold;
}

.apply-table {
    margin-top: 40px;
}

.table {
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #878787;
}

th {
    padding: 10px 0;
}

td {
    padding: 10px 0;
}

tr {
    border-bottom: 2px solid #f3f0f0;
}

.detail-link {
    align-items: center;
    color: #000;
}